{% extends "catalog/base_generic.html" %}


{% block content %}

<h4>Author: {{author.first_name}}  {{author.last_name}}</h2>
<br><br>

{% if author.book_set.all.count == 1 %}
    <p>1 book is founded...</p>
{% else %}
    <p>{{author.book_set.all.count}} books are founded...</p>
{% endif %}



<br>
<br>---<br>
{% for x in author.book_set.all %}
    <strong>Title :</strong> <a href= "{{x.get_absolute_url}}"> {{x.title}} </a>({{x.bookinstance_set.all.count}})<br>
    <strong>Summary </strong>:<br> {{x.summary}}<br>

    <br>
{% endfor %}

{% endblock %}